{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Choisis une chanson !</title>
</head>
<body>
        <div class="center"><div class="title4"><a href="{% url 'choose_theme' %}">{{ theme }}</a></div></div>
        <div class="grid-2">
            <div class="section-14"><div class="theme4 animate pop" onclick="window.open('{{song1.link}}','_newtab');"><p style="font-size: 2.5rem">{{song1.title}}</p> <br/> {{song1.artist}} <br> {{song1.year}}</div></div>
            <div class="section-24"><div class="theme4 animate pop2" onclick="window.open('{{song2.link}}','_newtab');"><p style="font-size: 2.5rem">{{song2.title}}</p> <br/> {{song2.artist}} <br> {{song2.year}}</div></div>
        </div>
        <div class="grid-2">
            <div class="section-14"><div class="theme4 animate pop3" onclick="window.open('{{song3.link}}','_newtab');"><p style="font-size: 2.5rem">{{song3.title}}</p> <br> {{song3.artist}} <br> {{song3.year}}</div></div>
            <div class="section-24"><div class="theme4 animate pop4" onclick="window.open('{{song4.link}}','_newtab');"><p style="font-size: 2.5rem">{{song4.title}}</p> <br> {{song4.artist}} <br> {{song4.year}}</div></div>
        </div>

</body>
</html>